[2012-02-03 16:20] sanmadjack opened #1 "Doesn't support all games"
MASGAU doesn't support every game ever made. This is an obvious roadblock.

TODO: FIX Gabriel knight 2
TODO: FIX Teenagent

[2012-02-03 16:21] sanmadjack opened #2 "Doesn't support PortableApps.com standard"

[2012-02-03 16:35] sanmadjack opened #3 "Doesn't support Mono"

[2012-02-03 16:36] sanmadjack opened #4 "Doesn't support other languages"

[2012-02-03 16:36] sanmadjack opened #5 "Doesn't support French"

[2012-02-03 16:36] sanmadjack opened #6 "Doesn't back up registry entries"

[2012-02-03 16:36] sanmadjack opened #7 "Doesn't handle games that don't keep their saves in a specific location very well"
Games like Myst let you save the game wherever you want. Right now the user must use a specific folder, but support for other folders would be good.

Solution:
Change the game profiles for these games to have an additional AltInstallPath location, and add an identifier for the save's file extension. Then the user can specify a folder in AltPaths where they really want to keep their saves. This wou

[2012-02-06 16:17] #7 closed, assigned to sanmadjack

[2012-03-01 20:21] sanmadjack opened #8 "Doesn't support German"

[2012-03-05 19:53] sanmadjack opened #9 "Doesn't support Norwegian"

[2012-03-05 20:17] AdmiringWorm opened #10 "PS3 Saves not Restoring automatically"
When trying to Restore a PS3 Save it would just throw an error, unless a similiar directory with the prefix and suffix already exists.

[code]

[2012-03-05 21:11] sanmadjack commented on #10
MASGAU is supposed to automatically create the paths for playstation saves, this is not correct behavipr.

[2012-03-05 22:42] AdmiringWorm commented on #10
I believe I maybe have narrowed the problem down a little:
I changed this:

[code]

to

[code]

Not a major change but it worked, now it detects if PS3\SAVEDATA is present, but not else.
I managed to track it even more down I believe:
On line 85 in MASGAU.Location.ALocationHandler you have this:

[code]

this always seem to return null when restoring, no matter what eventhough the UserData user a

[2012-03-06 15:06] sanmadjack commented on #1
1d09eca is not actually related to this issue.

[2012-03-06 16:17] sanmadjack opened #11 "Doesn't have startmenu or desktop environment variables"
Update server export code _done_
Update all shortcut attributes to path

[2012-03-06 21:54] sanmadjack commented on #1
10fb4e4 is not related to this issue either

[2012-03-08 20:41] sanmadjack commented on #9
8d481b0 is not related to this issue

[2012-03-08 22:13] #11 closed, assigned to sanmadjack

[2012-03-08 22:18] AdmiringWorm commented on #10
I can't for the life of me figure out how to fixed it. Only thing I managed to do is finding out the same problem is for, PSP, PS1 and PS2 games

[2012-03-12 15:07] sanmadjack opened #14 "Data exporter mis-handling ampersands"
Outputting tham as &amp;amp;

[2012-03-16 17:18] sanmadjack opened #17 "Can't specify Alt. Paths for environment variables other than installlocation"
Add the ability to add alt. paths for environment variables besides installlocation, OR change alt. paths so that they are acceptable substitutes for ALL environment variables.

[2012-03-17 12:55] AvvAdeh commented on #17
I like alternative options, but I would need an example to understand how this could be useful, yet I can't see what would be the advantage of it. Theoretically environment variables are useful at giving a path whatever this path is, ie: if I move 'My Documents' folder (or any special folder covered by environment variables) to another drive than the system one, the environment variable would give

[2012-03-19 09:03] AdmiringWorm commented on #4
Since my push didn't reference this issue automatically, I'll add it manually:
a4688de
- Added code to get Current User Region
- Changed code to use "en.xml" if no location and/or region xml found for current user
- Included nb-NO.xml to Translation project

[2012-03-19 19:54] sanmadjack commented on #17
The root of this is some reports I've received that have steamapps moved to a different folder. At present, there is no internal way for MASGAU to accomodate this, so I'm brainstorming ways to allow the user to change these paths.

[2012-03-21 14:59] AvvAdeh commented on #17
Okay, I searched a bit to see how one can move its steamapps folder to another place, without success.
My first move would be to contact the guys with moved steamapps to know how they did this, because if they did, there must be a way to find out this folder (because Steam find it).
I think I understand what you want to achieve with alt path, it would allow to avoid any weird user change from stop

[2012-03-21 18:08] sanmadjack commented on #17
It's the result of making a steam game run without steam.

[2012-03-21 19:45] AvvAdeh commented on #17
But then, what is the path used instead of steamapps folder? Isn't it a well known folder?
Isn't it related to game natural behaviour with its savegame files (like if the game was non-steam retail)?

[2012-03-22 15:52] sanmadjack commented on #17
Nope! It's a result of using cracks to force a steam-only game to run without steam. It saves exactly like it was using the steam cloud, but to some arbitrary folder determined by the cracker/user. While I don't condone piracy, I recognize the legitimate use of cracks.

[2012-03-22 17:57] AvvAdeh commented on #17
Aow :)
 I too think that as long as crap limit exists, cracks have their legitimate place. I could speak hours on this subject...

In this case, you have to see if allowing alt. paths to become environment variable won't do problem, if not do so, if yes perhaps do a special field for environment replacement paths.

[2012-04-17 01:31] sanmadjack opened #18 "PS3 Game Collections show up as the same game"
The re-release of PS2 games as PS3 collections tend to use the same ID for all the games. MASGAU needs the ability to break these up by game.

[2012-04-17 01:32] sanmadjack commented on #18
Adding new append attribute to ps_code that allows breaking down the saves. Update the update systems import/export.

[2012-04-25 15:19] sanmadjack opened #21 "Better Error Reporting"
Error e-mails should contain additional information:

MASGAU version
Data file versions

[2012-04-25 15:19] sanmadjack commented on #2
This is being hindered by a lack of support from the PortableApps project. Officially on the back-burner.

[2012-04-29 18:34] #18 closed, assigned to sanmadjack

[2012-04-30 03:37] OranguTech opened #22 "UI change request: No games detected/Archives found during scan."
It's a bit confusing, possibly disconcerting to see "No games detected" and especially "No Archives found" when first viewing those respective tabs.

Immediate fix: Set initial text to something more accurate/benign like "initializing".

Possible enhancement: Save a list of known games/saves on that system (simple text file), read that upon startup, and list those items in greyed-out format whilst

[2012-04-30 06:11] OranguTech opened #23 "UI change request: Main backup/restore interface issues."
(I'll break these out into individual "issues" is desired)

The current interface is a weird hybrid between checkbox items and a standard listbox. It's quite confusing to select something by checking the box, then hitting "back this up" and have nothing or something else back up, or to say "Back up everything" and only see, say, 3 things go by...

Bare minimum rapid fix, change "Back this up" to "

[2012-04-30 13:18] sanmadjack commented on #23
What version are you running?

[2012-04-30 13:26] sanmadjack commented on #22
You make a good point about the initial message, that should be more accurate than it is.

As for the possible enhancement, the first build before I released MASGAU had detection caching, but as I went on I came to the conclusion that MASGAU needed to provide as accurate information as possible whenever it was launched. That requires auto-redetection every time it launches, and I decided that rath

[2012-04-30 13:27] sanmadjack commented on #23
I aks because check boxes were removed in 0.9, specifically because of the weirdness you're describing.

[2012-04-30 13:35] sanmadjack commented on #23
Oh right, I added those other check boxes. Yeah, that is kind of confusing. Those are intended to control backups that are made using the scheduled backup and what games get watched by the monitor. That isn't really being communicated effectively at all.

[2012-05-01 13:49] sanmadjack opened #24 "Multiple detected locations still get placed in the same archive"
The saves from different locations should not by shoved into the same archive. MASGAU should have a way of automatically sorting these out into separate archives.

[2012-05-01 13:49] sanmadjack opened #25 "ScummVM Game detection"
ScummVM has a locatable ini file that has the locations of configured ScummVM games. This should be taken advantage of for detecting ScummVM games.

We should also support auto-figuring of the game's save file name from the game name.

Include smart prediction of potential game name variations based on the default.

[2012-05-01 13:51] sanmadjack commented on #14
Forgot, this was fixed a long time ago.

[2012-05-01 13:51] #14 closed, assigned to sanmadjack

[2012-05-01 13:52] sanmadjack commented on #3
This is taking a long time, and other features are necessitating another minor release, so this is getting pushed to 0.11

[2012-05-07 17:45] #8 closed, assigned to nobody

[2012-05-07 17:45] #9 closed, assigned to nobody

[2012-05-07 17:48] #24 closed, assigned to sanmadjack

[2012-05-07 17:52] #22 closed, assigned to sanmadjack

[2012-07-12 16:42] sanmadjack commented on #23
The interface is being overhauled, I'm going to try and address these concerns as best I can

[2012-07-12 16:44] sanmadjack opened #32 "If you manually pick a restore path that was already detected, masgau freaks the hell out"
Change it so it just uses the fucking path right away

[2012-07-12 16:44] sanmadjack opened #33 "Other User button freaks the hell out during restore"

[2012-07-12 16:48] #5 closed, assigned to nobody

[2012-08-04 19:11] sanmadjack commented on #2
I'm sick of dealing with them. MASGAU will have its own portable format.

[2012-08-04 19:11] #2 closed, assigned to sanmadjack

[2012-08-07 01:19] ghost opened #34 "Portability"
I would like to see a Standard/Portable installation for MasGau as I like to take my stuff on the go. Using a Portable.ini file and just check for it's existence. If yes, portable mode, checking beneath the existing EXE folder and avoid using the registry. If not, check the users folder instead. Simply use InnoSetup to create the files and folders accordingly. Rainmeter does exactly this and it se

[2012-08-08 16:26] sanmadjack commented on #34
I've started implementing it. The installer will include a checkable option to change it to a portable installation. This will be achieved by placing a settings.xml file in the install folder. In this mode, the game xmls in the data folder will be directly used. I'll be important to install this to a location that is writable to any users, otherwise the settings.xml and update system will freak ou

[2012-08-13 17:20] sanmadjack commented on #32
Adjusted so the path gets added safely, and still allows for path selection.

[2012-08-13 17:20] #32 closed, assigned to sanmadjack

[2012-08-13 18:20] sanmadjack commented on #4
MASGAU now pulls all of its interface strings from an XML file. Now we just need languages.

[2012-08-13 18:21] #4 closed, assigned to sanmadjack

[2012-08-13 18:23] sanmadjack commented on #17
Rather than make a change to how MASGAU works with things, now for games that can keep their saves elsewhere, I'm adding an alt save path entry to the xml profile.

[2012-08-13 18:23] #17 closed, assigned to sanmadjack

[2012-08-13 18:42] sanmadjack commented on #21
Error reports now automatically append application information

[2012-08-13 18:42] #21 closed, assigned to sanmadjack

[2012-08-13 19:12] sanmadjack opened #35 "Syncing"
MASGAU should offer the ability to create symlinks for game data. The information is already supported the XML format, MASGAU just needs the code to make the links (Yeah!)

[2012-08-13 19:13] sanmadjack opened #36 "Duplicate environment names"
The drop-down for folder selection in the add game screen has too many entries on Windows 7. Fix it!

[2012-08-13 21:42] sanmadjack commented on #25
Support for this is added, from here on out issues will be bug fixes.

[2012-08-13 21:42] #25 closed, assigned to sanmadjack

[2012-08-14 19:16] #10 closed, assigned to sanmadjack

[2012-08-14 19:19] sanmadjack commented on #33
This button works properly now, though I added a warning on elevate to let the user know he/she/it needs to uncheck the protect from unsafe operations warning

[2012-08-14 19:19] #33 closed, assigned to sanmadjack

[2012-08-14 20:43] sanmadjack opened #37 "Needs to be able to restore 0.9 archives"
Not sure if it won't, but I gotta be sure this'll work.

[2012-08-14 21:33] sanmadjack opened #38 "Need to be able to handle the presence of multiple ubisoft game folders and flash folders"

[2012-08-15 00:52] #36 closed, assigned to sanmadjack

[2012-08-15 19:21] #37 closed, assigned to sanmadjack

[2012-08-15 22:55] sanmadjack opened #39 "Add button for easily reporting issues"
For problems that aren't necessarily errors, omissions more like a general feedback button

[2012-08-15 23:23] sanmadjack opened #40 "Auto switch language"

[2012-08-16 14:49] #38 closed, assigned to sanmadjack

[2012-08-16 15:33] sanmadjack commented on #40
Turns out this already works right,

[2012-08-16 15:33] #40 closed, assigned to sanmadjack

[2012-08-16 15:40] sanmadjack commented on #23
The interface re-write is complete. Please raise a new issue for any problems/suggestions for it.

[2012-08-16 15:40] #23 closed, assigned to sanmadjack

[2012-08-16 19:49] #39 closed, assigned to sanmadjack

[2012-08-16 19:51] sanmadjack commented on #34
Confirmed today that this is working properly. Awesome!

[2012-08-16 19:51] #34 closed, assigned to sanmadjack

[2012-08-16 21:43] AdmiringWorm opened #41 "NullReferenceException on MASGAU Beta 10.0 startup"
On startup of the MASGAU Beta 10.0 I got a NullReferenceException.

[code]

[code]

[code]

[2012-08-18 15:38] sanmadjack opened #42 "MASGAU stops a multi-file restore if one needs to be elevated"
MASGAU should continue restoring files even if one needed elevation

[2012-08-18 15:41] sanmadjack opened #43 "When elevating a restore, the old window doesn't dissapear"

[2012-08-18 16:10] sanmadjack opened #44 "Show default versioning time unit"
Even though hours is used by default for versioning, the interface shows a blank unit initially

[2012-08-18 16:23] sanmadjack opened #45 "Allowing drive selection"
If a game is detected only via drive, should the restore give the option to pick a drive? This is mostly unnecessary because if a save uses a drive, then it is assuredly in the install folder, which will be detected. Thoughts?

[2012-08-27 14:41] sanmadjack commented on #41
Not sure where this bug was fixed, but the latest builds don't have it anymore.

[2012-08-27 14:41] #41 closed, assigned to sanmadjack

[2012-08-28 13:57] sanmadjack opened #48 "Make all window borders resize"

[2012-08-28 13:57] sanmadjack opened #49 "Implement window shadows"

[2012-08-28 14:00] sanmadjack opened #50 "Make archive list resizeable"

[2012-08-29 14:33] sanmadjack opened #51 "FilteredModel sending exceptions"
Certain conditions are causing the FilteredModel from the MVC library to not send the appropriate events to the view, causing the view to become out-of-sync with the underlying model.

[2012-08-30 19:22] sanmadjack opened #52 "Need text explanations for first-time users"
Add a closeable label that explains how to restore a save

[2012-08-30 19:22] #50 closed, assigned to sanmadjack

[2012-08-30 19:23] sanmadjack commented on #51
This turns out to be a problem with list view and very large lists. I'm writing a custom list view implementation.

[2012-08-31 06:25] AdmiringWorm opened #53 "Unable to Send Report"
While trying to send a report it throws an unknown error (running newest MASGAU 1.0 Release), which makes the whole program crash.

I found the problem it seems, it happens because the "From" property is null, as well as the Source in EmailButton.xaml.

[code]

[2012-08-31 14:00] sanmadjack commented on #53
This is so strange! That source object should never be null, does this happen every time you try to send a report?

[2012-08-31 14:07] AdmiringWorm commented on #53
It does not happen if I press the button Report A Problem manually.
I forgot to add when it happens, it is related to multiple games with the same id/name.
When the application is loading, I get the error of multiple games, when I then press Send Report the above happens.
I tried to debug the program, and it seems to be because of Constructor in Core.cs.
The if (!mutex.WaitOne(1000)) returns false

[2012-08-31 15:16] sanmadjack commented on #53
Okay, I think I've got a good idea what's going on here. When multiple games are detected, a lot of things get aborted internally. I thought I had them managed properly, but obviously I missed something.

[2012-08-31 15:32] sanmadjack commented on #53
Also, that test returning false is good, if it returned true the program would shut down.

[2012-09-01 15:06] sanmadjack commented on #53
I've almost got a fix for this ready to test, but I'm wondering why are you seeing duplicate games? what files are they in?

[2012-09-01 16:05] sanmadjack commented on #53
Okay give this a shot:

https://docs.google.com/open?id=0By2Mfv6zO9SkVGktb1NCWnJqMkU

[2012-09-01 16:09] #52 closed, assigned to sanmadjack

[2012-09-01 16:12] sanmadjack commented on #51
I'm satisfied with this fix for now. Further issues will be new and specific to the new list view.

[2012-09-01 16:12] #51 closed, assigned to sanmadjack

[2012-09-01 21:16] AdmiringWorm commented on #53
custom.xml, the original in their respective file.

[2012-09-01 21:49] AdmiringWorm commented on #53
I tried the test exe. It still throws an error, not the duplicate games anymore though, but it doesn't crash anymore.
It doesn't get logged though so the have the exception in Send Report dialog.

[code]

and when Tried to send Report it logs this:

[code]

I also checked with the latest source in the branch 1.0.1. and it just showed the information box:
![MASGAU duplicate](http://i48.tinypic.com/

[2012-09-04 13:02] sanmadjack commented on #53
Yeah, that's how it should be behaving now. The problem was that some stuff got aborted when duplicate games were found, so now MASGAU picks one and discards the other rather than freaking out. This build should have those changes:

https://docs.google.com/open?id=0By2Mfv6zO9SkVGktb1NCWnJqMkU

Since it's not aborting, it should still generate the email source object, which should prevent the email

[2012-09-05 01:12] AdmiringWorm commented on #53
I'll check it out later, but may I come with a suggestion. perhaps make a checkbox with the text (don't mention this again, or something like that). Just thinking, when I tried the latest build I got annoyed because I got multiple MsgBoxes of dublicate games...

[2012-09-05 01:19] AdmiringWorm opened #54 "Multiple suggestions"
I currently have 3 suggestions I wanted to air out (could be more in the future).

1)  Regarding folder browser dialog, why not use the "vista" style one, I recently found a project upgraded to .NET 4 client which uses the vistabridge to show a folder dialog. (http://wpffolderbrowser.codeplex.com/)
2) On specific Messages (like the multiple games message) add a message that shows to not remind me

[2012-09-05 13:34] sanmadjack commented on #53
Sure, that's actually a really good idea. Can I consider this issue resolved though?

[2012-09-05 13:50] sanmadjack commented on #54
Well, I'll address all these here, but each of these should really have been made its own issue.

1) That would be nice, but it's hardly a priority. I'm reviewing the code for the vista bridge stuff, I'll try to work it in at some point.

2) A lot of dialogs already have this, and I'm going to be adding

3) One of the key rules of a backup program is that it should never automatically delete data.

[2012-09-05 13:50] #54 closed, assigned to nobody

[2012-09-05 14:49] AdmiringWorm commented on #53
yes, it can be considered resolved.

[2012-09-05 14:56] AdmiringWorm opened #55 "Vista Style Folder Browser dialog"
Make use of vistabridge to use a vista styled folder browser dialog, with a fallback to the standard folder browser dialog in case the user is running windows XP

[2012-09-05 14:59] AdmiringWorm opened #56 "Delete selected archives"
Add a button which allows the user to delete all selected archives, and/or a checkbox which allows the user to overwrite an existing archive with a new backed up one.

[2012-09-05 15:00] sanmadjack commented on #55
As I stated before, this is low priority, as the current dialog works just fine. Going forward though it would be nice to have more polish on the interface.

[2012-09-05 15:00] sanmadjack commented on #56
I decided to add a delete archive button. The button has to be deliberate, while the checkbox option is the one that could be done accidentally.

[2012-09-05 15:55] #53 closed, assigned to sanmadjack

[2012-09-05 16:09] sanmadjack commented on #56
http://goo.gl/GQOuW Okay I added the delete button in this build. It also has the suppress duplicate messages thing added.

[2012-09-05 16:25] AdmiringWorm commented on #56
Nice work, I tested it and it works great. However I noticed a problem with the custom list you implemented.
I'm guessing you are already aware of it, but I'll post it as a new Issue none the less.

[2012-09-05 16:28] AdmiringWorm opened #57 "Custom list restore bug"
When an archive has been restored, the custom listview clears itself and shows just the game the archive was restored for and no other games until the list is manually refreshed.

NOTE: Also noticed that the custom listview isn't scrollable.

[2012-09-05 16:33] sanmadjack commented on #57
That's...interesting...can't believe I didn't catch that it hasn't been scrolling.

[2012-09-05 16:37] sanmadjack commented on #56
Excellent, marking this as resolved. I'm working on the listview bug, I was not aware of it beleive it or not :)

[2012-09-05 16:37] #56 closed, assigned to sanmadjack

[2012-09-05 18:35] sanmadjack commented on #57
http://goo.gl/GQOuW Give this a try, should be fixed.

[2012-09-05 19:07] AdmiringWorm commented on #57
I See scrolling works, but the original issue was not fixed. The scrolling was just a note because I didn't want to create an issue just for that.

[2012-09-05 19:11] sanmadjack commented on #57
Ha! Forgot the main point, didn't I :)

[2012-09-05 19:12] AdmiringWorm commented on #57
hehe, seems so.

If you are unsure of what I'm talking about I can post a couple of screen shots of what I mean...

[2012-09-05 19:19] AdmiringWorm commented on #57
Below is two screenshots of what I mean.
1st one is before restoring a single archive,
the second one is after (this time it showed three games)
![Before Restoring](http://i47.tinypic.com/283vbn.jpg)
![After Restoring](http://i47.tinypic.com/1eqbzn.jpg)

[2012-09-05 19:20] sanmadjack commented on #57
Craziness!

[2012-09-06 13:32] sanmadjack commented on #57
I found out what was causing this, and I'm certain that I fixed this bug before. The fix must have gotten lost somewhere, but at least I know exactly how to fix it.

[2012-09-06 13:35] sanmadjack commented on #57
Alright here's a build with a fix:
http://goo.gl/GQOuW

[2012-09-06 13:47] AdmiringWorm commented on #57
seems like it is fixed now.
I'll test it out some more to see if there is any undesired effects.
But I'll close the issue for now...

[2012-09-06 13:47] #57 closed, assigned to sanmadjack

[2012-09-06 14:41] sanmadjack commented on #42
Or should it? thoughts?

[2012-09-06 15:37] sanmadjack commented on #43
Hiding the window triggers the parent window to open, which is even worse. Still working on this...

[2012-09-06 15:58] AdmiringWorm commented on #42
I think it should continue, however i also think in single user mode it should ignore file-restores needing elevation.
After all, you already have the all user mode which runs elevated.
But that is of course just my opinion...

[2012-09-06 16:15] sanmadjack commented on #42
That's not a good idea. The only way to know if elevation is needed is by trying to restore and getting permission denied errors, which triggers the elevation request, so it can't be 100% accurately predicted without trying. Also if we just skip them, then the user is not aware of these not being restored unless we pop up a dialog, at which point we might as well ask "hey, do you want to elevate?"

[2012-09-06 16:15] sanmadjack commented on #42
Obviously this isn't an issue for people who just run in All Users Mode

[2012-09-06 16:28] AdmiringWorm commented on #42
hmm, I did not think of that. Yeah you are correct then. but if there are several archives to be restored, and the user has already denied to elevate there would be a bad decision to prompt multiple times.

[2012-09-06 16:42] sanmadjack commented on #42
I kind of agree. If something like that goes wrong, things should just stop.

[2012-09-06 16:48] AdmiringWorm commented on #42
yeah, or continue while ignoring other restores needing elevation.

[2012-09-06 16:52] sanmadjack commented on #42
I'd consider that inconsistent. Better the user is notified, the restore stops, and then the user can decide how to proceed, which would probably be to use All Users Mode

[2012-09-23 18:51] AdmiringWorm opened #58 "Alternate steam paths"
Just to inform, the latest beta of steam has now made it available to install games to an alternate steam path:

The only way I have detected to find this is through the registry key for the single game:

[code]

I'll keep looking around to see if the path to the alternative steam library is stored somewhere.

Just something to consider when the latest steam beta is pushed to the public.

[2012-09-23 19:55] AdmiringWorm commented on #58
or allow users to add an alternative steam library path, and look for the file "steam.dll" in the selected path.

[2012-09-25 17:06] sanmadjack commented on #58
I'll have to investigate this. If worst comes to worst, then steamcommon will just have to use the alt save paths like isntalllocation does. I want to see how this is implemented in final.

[2012-09-30 07:53] AdmiringWorm commented on #45
It does seem unnecessary.
But for perfection yeah sure, however my thoughts on this is that it is just plainly unnecessary.

[2012-09-30 07:59] AdmiringWorm commented on #55
The current dialog works, that is true.
But I (can't talk about others of course) find the default folder browser dialog annoying.
When/if I'm restoring to a custom location and there is quite the few folders to go through,
it would be easier to use a Vista styled folder browser dialog to navigate to the wanted folder.

[2012-09-30 08:02] AdmiringWorm opened #59 "Duplicate game priority"
When there is a duplicate game in c.xml (could be others as well) and custom.xml,
MASGAU is prioritizing the duplicate in c.xml instead of the newer one in custom.xml.

However when it p.xml it does prioritize the one in custom.xml, from what I gather from this
MASGAU is selecting the first occurrence of the game it finds.

[2012-09-30 08:31] AdmiringWorm opened #60 "xml attribute submitted error"
When a game is submitted MASGAU adds a new attribute 'submitted="True"'.
However when MASGAU is launched after this has been added it throws an error.
It is a simple error:
MASGAU adds a value of 'True' with a big T (at least on my computer). if this is changed back to a lowercase 't' MASGAU doesn't complain anymore.

[2012-09-30 08:48] AdmiringWorm opened #61 "Alt. Save folder throws an error"
When a Alt. Save folder is selected and MASGAU is redetecting it throws the error below:

[code]

[2012-10-01 13:37] sanmadjack commented on #60
this is strange, I've never had this happen...I'll look into it

[2012-10-01 13:41] sanmadjack commented on #59
Your understanding of internal priority is correct, but this issue is a moot point. None of those files should be manually modified, the letter ones are only changed through auto-update, and the custom.xml is only for MASGAU's custom game feature. The new.xml file should always contain user-created data, and it will always take priority over any other file. It won't even nag you about duplicates i

[2012-10-01 14:24] AdmiringWorm commented on #60
could be a different locale issue

[2012-10-01 14:27] sanmadjack commented on #60
Could be. I added a bit so that it makes sure to convert it to lower case.

[2012-10-01 14:52] AdmiringWorm commented on #59
ah, then it's just me who have been using it wrong. Always used the custom.xml not new.xml

[2012-10-01 15:40] sanmadjack commented on #61
This is a legit problem, and I found the cause. Commit coming soon.

[2012-10-01 16:08] #61 closed, assigned to sanmadjack

[2012-10-01 16:41] AdmiringWorm opened #62 "Suggestion: Manually analyze a path"
Is it possible to add the ability to manually analyze a path, since the games added to new.xml
doesn't get the ability to submit...

Something in the way it was before v 1.0

[2012-10-01 16:45] sanmadjack commented on #62
Well the idea is that you add that path as a game, then just click submit and it takes care fo everything for you.

[2012-10-01 16:47] AdmiringWorm commented on #62
I understand that, but I'm thinking of games that already exists but want to find for instance a registry key without manually searching through the registry myself and not adding the entry to custom.xml because of the issue #59 that I posted previously

[2012-10-01 17:00] sanmadjack commented on #62
Issue #59 isn't an issue at all with this. If you add a custom entry through the window, the game version gets marked as:

[code]

MASGAU still has a thing to prevent adding a game with the exact same name, but if you're just trying to add a game to scan it, then just give it a bogus name or call it something like Borderlands2Custom. Does this seem like an unreasonable process?

[2012-10-01 17:03] AdmiringWorm commented on #62
Nah, it doesn't sound unreasonable. I just felt the need for either a standalone analyzer or something and liked how it was pre-v1.0.
But I understand, it's not really necessary and the way you think of is good enough.

[2012-10-01 17:19] sanmadjack commented on #62
The whole idea is to try to make this easy enough for anyone to be able to add a game and submit it. Guys like you understand things well enough that you can use the "for dummies" system to be able to do whatever you want.

[2012-10-02 15:00] AdmiringWorm commented on #60
still adds 'False' with a upper case though.

[2012-10-02 15:02] AdmiringWorm opened #63 "xml element <exclude/> not honored"
I noticed whenever I add the element <exclude path/filename="{file}"/> in the xml files
MASGAU still backup the excluded files.

[2012-10-03 13:04] sanmadjack commented on #60
Found that out yesterday, commiting the fix now

[2012-10-03 13:05] #60 closed, assigned to sanmadjack

[2012-10-03 13:06] sanmadjack commented on #63
this would explain an error that was submitted for skyrim backing up a temp file

[2012-10-03 13:57] sanmadjack commented on #63
The code for exclusions isn't there at all. How's that for professional.

[2012-10-03 14:42] #63 closed, assigned to sanmadjack

[2012-10-03 15:23] AdmiringWorm opened #64 "Wildcards in location tags"
Ability to add wildcards in the location tags

[2012-10-03 16:50] sanmadjack commented on #63
Care to test the updated code? Do I need to send you a build?

[2012-10-03 17:17] AdmiringWorm commented on #63
Works great

[2012-10-07 22:16] AdmiringWorm opened #67 "Suggestion: Archive Compression"
The ability to set the compression level and compression method for the archives.

This would probably mostly be for more advanced users.

[2012-10-10 17:40] sanmadjack commented on #67
Considered it right at the beginning of development, decided against it. There's not really an advantage to it.

[2012-10-15 17:08] sanmadjack commented on #67
Feel free to try and convince me otherwise ;)

[2012-10-24 18:18] AdmiringWorm opened #68 "Maximize Hides Windows Taskbar"
When maximizing MASGAU it covers the whole screen including the Windows Taskbar

[2012-11-23 18:00] sanmadjack commented on #68
Definitely a problem

[2012-11-24 18:13] sanmadjack opened #69 "Paths added through steampath don't necessarily get case variations checked."

[2013-01-12 00:20] OranguTech opened #70 "Ability to delete gamesaves."
New Feature/UI request:

MASGAU is great for showing what crud is left over from demos, old games, etc. It's nice that I can hover over "BoogerBlaster 3: Electric Boogerloo" and be shown the path, I would like to be able to right-click\*  and select either "Delete Save", "Delete All active files" or "Open Explorer" which would of course open to the relevant path.

*I'd like a right-click menu for

[2013-01-12 00:32] OranguTech opened #71 "Masgau fails poorly with malformed archive."
Whilst scanning/reading through my save archive, MASGAU give an error on a particular file (that I have not been spent the time to split-test, a quick pass w/ Procmon was inconlusive.)

Popup window (title not visible, but windows reports it as "Translator Error".

"The string ArchiveMissingData could not be found"

<pre>

ArchiveMissingData

   at MASGAU.Archive..ctor(FileInfo archive) in Y:\Desk

[2013-01-12 00:35] OranguTech commented on #71
I'm a dork, didn't take long to find the offending archive. Would you like me to send it? (Black Mesa Source, 24Megs)

Edit-Edit: 7zip can't open it, so obviously a corrupted .7zip.

[2013-01-22 18:29] sanmadjack commented on #70
One of the concepts I've been actively pursuing is to not have a right-click menu in MASGAU anymore. It's not an ideological mandate, but it does guide me to "trim the fat" so to speak in order to make everything fit. If there was a compelling enough reason I'd add one in, but I'm not sure this request qualifies. There are already buttons to delete a game's archives and purge the detected files, b

[2013-01-22 18:31] sanmadjack commented on #71
I'd like to see it anyway, e-mail it to me? sanmadjack@masgau.org

[2013-01-22 18:31] sanmadjack commented on #71
This shouldn't be hard to fix, I'm pretty sure I know what's going on here.

[2013-01-22 18:33] sanmadjack commented on #64
Not a bad idea at all

[2013-01-22 18:34] sanmadjack commented on #62
The more I think about it, the more I think that being able to scan and submit detected games is a cool idea. Consider it incoming!

[2013-01-22 18:35] #59 closed, assigned to sanmadjack

[2013-01-22 18:36] sanmadjack commented on #58
Hah, forgot to update this! Steam released this feature officially, and soon after I released 1.0.4, which adds support for detecting these paths. In the process I also added the ability to parse steam's config files, which revealed what could be some interesting information. Haha!

[2013-01-22 18:36] #58 closed, assigned to sanmadjack

[2013-01-22 18:37] sanmadjack commented on #48
What do we mean by all window borders?

[2013-01-22 20:06] OranguTech commented on #48
I would assume it means making the main window behave more standard fashion, so you don't have to grab the bottom-right corner in order to resize.

[2013-01-22 23:24] sanmadjack commented on #48
Oh, right. How about that, me forgetting what my own issue was about. Inspires some real confidence huh.

[2013-02-02 16:20] sanmadjack opened #74 "ProgramData permissions"
The ProgramData copies of the xml data only get permissions to be written by the first user that runs MASGAU. This means other users cannot update the data or add custom XML entries.

Future installers will need to erase the XML data there (since the installer runs elevated, it should be doable), and MASGAU will have internal checks that will tell the user it needs to be elevated to correct a perm

[2013-03-20 07:27] OranguTech opened #75 ""startIndex cannot be larger than length of string.""
Wow, I get all the fun ones. I get that error now on launch:

startIndex cannot be larger than length of string.
Parameter name: startIndex

   at System.String.InternalSubStringWithChecks(Int32 startIndex, Int32 length, Boolean fAlwaysCopy)
   at System.String.Substring(Int32 startIndex)
   at MASGAU.Location.ALocationHandler.interpretPath(String interpret_me) in C:\Users\Matthew\Desktop\MASGAU\M

[2013-03-22 15:14] sanmadjack commented on #75
Congrats, you triggered an exception that should have been technically impossible to trigger. I need to get you an award or something.

[2013-04-17 17:32] OranguTech commented on #75
It's a gift. (Do you want a copy of a log or, if applicable, track down the offending backup file? (If that's the 2nd corrupt file then I got some weird juju...)

[2013-05-06 16:49] sanmadjack commented on #75
I should be able to figure it out from this stack trace, I just need to find the time to work on it.

[2013-05-06 16:50] sanmadjack opened #76 "Registry null exception on startup"
It's throws an exception every time it starts up on my computer. Fun.

[2013-05-14 16:12] OranguTech commented on #70
Begin thread necromancy:

Right-click was just the "natural" way I expected it to work, esp. since you're getting info via a hover, but it was "purge" functionality I was concerned about, which I didn't realize was an implemented feature at the time. (Or wasn't updated then or...) Anyway, thanks for "Purge" button. :+1:

[2013-05-14 16:14] #70 closed, assigned to sanmadjack

[2013-05-24 15:44] AdmiringWorm opened #77 "Error while loading Registry Key"
I recently started getting a RegistryKeyLoadError on the startup of MASGAU (it then closes after the error).
This seems to be a problem with the "Steam App" registry keys, and the new registry security twists of Windows 8 (not 100% sure regarding Windows 8 though).
It only happens when the game with that reg key is installed, and if the entry is deleted MASGAU starts up as normal.
Running MASGAU V

[2013-06-01 12:25] sanmadjack commented on #77
I started getting this too. I think Steam changed something.

[2013-06-02 00:11] AdmiringWorm commented on #77
hmm, perhaps. I can't find the keys in the registry so steam could have locked the section down. I thought it was a windows 8 problem since (as I said above) they changed something (not sure what) regarding the security settings of the registry.
May I offer a suggestion, move those registry keys into a separate app path (for instance steamreg) and only look it up if nothing else has been found. (J

[2013-06-11 21:24] OranguTech opened #78 "Feature change request: Show / Sort by archive modification date"
I would like to be able to show/sort archives by file modification date, not just creation.

Scenario: I point sync app of choice (Skydrive/BittorrentSync/Whatever) to my masgau archive folder. I go to restore a gamesave (saved, archived, synched at another location), and they all list same or similar dates/times - how do I know which one to restore? Turns out it's showing file creation time, whic

[2013-06-13 13:35] sanmadjack commented on #78
I'll look into it, maybe I can add a timestamp to the archive's metadata

[2013-06-13 14:23] sanmadjack commented on #35
There are finally apis for .net for the major online services. I might implement some kind of direct syncing in the future.

[2013-06-13 14:28] sanmadjack commented on #55
The biggest thing holding this back is that .NET didn't have proper support for the new folder browser, it only had the old one. Once better support is added, I don't see why this can't be added.

[2013-06-13 14:30] sanmadjack commented on #76
Duplicate of issue #77

[2013-06-13 14:30] #76 closed, assigned to sanmadjack

[2013-06-13 15:39] sanmadjack opened #79 "Error when trying to send exception reports"
WTF?

   at Email.WPF.EmailButton.checkEmails() in C:\Users\Matthew\Desktop\MASGAU\Libs\Email.WPF\EmailButton.xaml.cs:line 82
   at Email.WPF.EmailButton.button_Click(Object sender, RoutedEventArgs e) in C:\Users\Matthew\Desktop\MASGAU\Libs\Email.WPF\EmailButton.xaml.cs:line 37
   at System.Windows.EventRoute.InvokeHandlersImpl(Object source, RoutedEventArgs args, Boolean reRaised)
   at System.Wi

[2013-06-13 16:30] sanmadjack opened #80 "Reveal more information about detected steam libraries"
MASGAU currently only shows information about the Steam install folder. More information? Maybe a whole screen of detected system information, for proper debugging?

[2013-06-13 16:36] sanmadjack opened #81 "MASGAU doesn't handle the lack of a monitor path well."
It will just keep re-prompting for the monitor path, even if you cancel. Should disable monitoring in that case. Make sure to indicate that in the text.

[2013-06-13 16:59] sanmadjack commented on #68
Turns out to a WPF thing:
http://www.abhisheksur.com/2010/09/taskbar-with-window-maximized-and.html

[2013-06-13 17:44] sanmadjack commented on #75
Are you still getting this error?

[2013-06-13 17:45] sanmadjack commented on #77
Are you still getting this error?

[2013-06-13 17:53] sanmadjack commented on #71
The string ArchiveMissingData  was missing from the English file. I've added it, and this should be present in the next release.

[2013-06-13 17:53] #71 closed, assigned to sanmadjack

[2013-06-13 18:11] #79 closed, assigned to sanmadjack

[2013-06-13 23:36] jackzzz opened #82 "multi user advice"
This is really a good software!!!
But will you please consider about add on multi user with password protect? Because my friend always overwrite my game record.

Thank you very much!

[2013-06-13 23:48] OranguTech commented on #82
Then don't let your "friend" log in to your account - create one for him.

On Thu, Jun 13, 2013 at 4:36 PM, jackzzz notifications@github.com wrote:

[2013-06-14 02:04] sanmadjack commented on #82
I have to admit, Scandalon is right about this. This is why Windows has shipped with a "Guest" account for over 10 years. How is it that you imagine this feature working? Can you step me through how it would be used?

[2013-06-14 02:12] jackzzz commented on #82
ok I just give up.

Sent from my iPhone

On 14/06/2013, at 2:04 PM, "Matthew Barbour" notifications@github.com wrote:

[2013-06-15 13:40] sanmadjack commented on #82
No, please don't give up I'm just trying to understand how it is that you see this being implemented. I think I'm not completely understanding what you're describing.

[2013-06-15 13:46] jackzzz commented on #82
ok,thanks, the computer is being used in dorm. So i just want a single software  plan to handle that problem. Actually for now I am using the script to backup the saves for different friend. So do worry about that if its too complex for u. Thanks a lot. :)

Sent from my iPhone

On 16/06/2013, at 1:40 AM, "Matthew Barbour" notifications@github.com wrote:

[2013-06-15 17:49] sanmadjack commented on #77
I've got a possible fix for this error, but I need to confirm it. Do you still get the error?

[2013-06-15 17:50] sanmadjack commented on #75
I've got a possible fix for this error, but I need to confirm it. Do you still get the error?

[2013-06-15 18:27] AdmiringWorm commented on #77
Yes, I am. I tried the the latest source for 1.0.5 and the problem is still there with the exact error.

[2013-06-15 18:30] AdmiringWorm commented on #77
It seems it failes in ALocationhandler on line 184.

[2013-06-15 18:33] AdmiringWorm commented on #77
I now see why it fails. the interpret_me path is 'F:\SteamLibrary\SteamApps\common\4x4 Hummer',
while the folder path is 'D:\Program Files (x86)\Steam\steamapps\common'.
It failes because the folder length is longer than interpret_me so the substring is out of range.
Apparently it hasn't had anything to do with the registry key after all.

[2013-06-15 18:52] sanmadjack commented on #77
I haven't checked in my fix yet. This confirms the issue though. I'll check in the code now.

[2013-06-15 18:54] sanmadjack commented on #77
Code checked in. Please update and try again.

[2013-06-15 19:07] #44 closed, assigned to sanmadjack

[2013-06-15 19:13] sanmadjack commented on #74
The current fix will correct the permissions next time an update is run. Should be sufficient. If you have trouble updating, run the update in all-users mode. The permissions should be corrected then.

[2013-06-15 19:13] #74 closed, assigned to sanmadjack

[2013-06-15 19:25] OranguTech commented on #75
Sorry I never got back to you, but dont think i can answer that - some
combination of moving, migration, updating or resyncing fixed it. Or it was
on my desktop that has been offline for 2 months...

On Saturday, June 15, 2013, Matthew Barbour wrote:

[2013-06-15 20:11] sanmadjack commented on #75
Heh. Well, I'm pretty sure this fixes the issue, so I'll go ahead and push the issue. Please open a new issue if ti re-surfaces.

[2013-06-15 20:11] sanmadjack commented on #75
Dplicate of #77

[2013-06-15 20:11] #75 closed, assigned to sanmadjack

[2013-06-15 21:40] AdmiringWorm commented on #77
Sorry for the late reply, I can confirm now that this is fixed in 1.0.5

[2013-06-15 21:40] #77 closed, assigned to sanmadjack

[2013-06-15 22:27] sanmadjack commented on #77
Thanks much!

[2013-06-17 18:27] sanmadjack opened #83 "Exception during backup"
Value cannot be null.
Parameter name: key

   at System.Collections.Generic.Dictionary`2.FindEntry(TKey key)
   at System.Collections.Generic.Dictionary`2.ContainsKey(TKey key)
   at Collections.DictionaryList`2.Contains(K key, V value) in c:\Users\Matthew\Desktop\MASGAU\Libs\Collections\DictionaryList.cs:line 38
   at MASGAU.Location.Holders.DetectedFiles.Contains(DetectedFile file) in c:\Users\M

[2013-06-17 18:35] sanmadjack opened #84 "Basement Collection backs up too much."

[2013-06-17 23:30] #83 closed, assigned to sanmadjack

[2013-06-21 16:11] sanmadjack commented on #69
Fixed somewhere along the line

[2013-06-21 16:11] #69 closed, assigned to sanmadjack

[2013-06-27 03:05] sanmadjack opened #86 "Restore process does not properly filter out deprecated paths"
Needs to not accept detected paths based on deprecated locations, as well as reject matches to an archive's original folder

[2013-07-04 16:28] sanmadjack opened #88 "Detection Information"
Add interface elements that give feedback on how the game was detected - good for verifying correct game information.

[2013-07-30 15:42] AdmiringWorm opened #89 "Ability to Hide specific platforms/types"
I would love to see the ability to hide specific platforms and/or types.
For instance in my case, I never backup from Steam Cloud so I don't really want to see it in the list of games either, and in some cases I don't want to backup the 'Settings' type for a certain game so an option to ignore a type for a certain game would also be most welcome.

[2013-07-31 05:08] sanmadjack commented on #89
Interesting ideas. I'll consider it.

[2013-08-27 23:59] AdmiringWorm opened #90 "Some or all identity references could not be translated."
[code]

The Title is my best guess of the translation of this Error message.
Although this (in my opinion) is a little misleading, I believe this is an error for an NTAccount Identity that doesn't exist. On my localized Windows OS there is no identity named 'everyone' (insted it's named 'Alle'). I'm working on a hotfix for this and it should be ready soon.

[2013-10-19 10:57] ghost opened #93 "Memory consumption"
For a program, which is supposed to just backup and restore game saves, its RAM consumption is simply horrible!
I mean, 122 MB RAM? Seriously? My Windows XP running inside a VirtualBox takes less MB RAM - a complete OS! Skype - a program for chatting, calls, videocalls, conferencing - takes less RAM - and it's a well known memory hogger. What is your program capable of? Oh. Right. Backuping game s

[2013-10-30 19:40] sanmadjack commented on #90
I'm going to be releasing a build with this fix soon. Thanks!

[2013-10-30 19:40] #90 closed, assigned to AdmiringWorm

[2014-01-20 00:24] sanmadjack opened #94 "Error while restoring arkham asylum save"
![13zcscy](https://f.cloud.github.com/assets/1385789/1951043/169a24a6-8169-11e3-99b8-bc60187caa83.jpg)

[2014-01-31 04:17] plottingCreeper opened #95 "Start up crash"
I frequently have MASGAU crash as my computer starts (start on login ticked).
It seems to hang on "Detecting Games and Setting up Monitors" most times, but I can see all the games I have are listed there, so it may be a problem with the last game that it loads.

Attached image is the games list.
![masgau](https://f.cloud.github.com/assets/6550725/2047851/8bfe98a8-8a2e-11e3-9ada-67570968dd8a.jpg)

[2014-01-31 13:52] sanmadjack commented on #95
Just to be clear, by crash you just mean that it hangs? And does frequently mean that sometimes it doesn't happen?

Just off the cuff, it sounds like it may have something to do with the monitor code. I notice you've got all of your games set to monitor, could you try shutting that off and telling me if that makes a difference?

[2014-01-31 16:52] OranguTech opened #96 "A (new?) startup crash for me."
Only occurs on one machine:

Attempted to perform an unauthorized operation.

Exception Information:

[code]

I can click "send report" and it appears to have sent.
There is a small, blank masgau window, maybe 2" x 1", separate from the main window.

 I haven't done much troubleshooting yet - like all my systems, MASGAU 1.0.6 on Win 7x64, backup folder is SkyDrive sub-folder.

[2014-01-31 19:39] sanmadjack commented on #96
Does this occur every time you try to start it?

[2014-01-31 19:47] sanmadjack commented on #96
What is the computer's primary language?

[2014-01-31 20:24] OranguTech commented on #96
Every time, been that way over a couple weeks now over multiple restarts. English. Where is the masgau pref file again? I tried re-installing, no help.

[2014-01-31 20:47] sanmadjack commented on #96
The preferences should be in AppData\masgau or something like that.

[2014-01-31 20:48] sanmadjack commented on #96
This here is a test build that may or may not resolve this:

https://drive.google.com/file/d/0By2Mfv6zO9Ska1ZIWnM0UGxzcVU/edit?usp=sharing

[2014-01-31 20:54] OranguTech commented on #96
Test build shows same symptoms. Interestingly running the all-users mode loads without complaint. I guess I'll run with that for now, but happy to help w/ any other troubleshooting steps.

[2014-01-31 21:02] sanmadjack commented on #96
I'll try to poke around this error this weekend.

[2014-01-31 21:04] sanmadjack commented on #96
Some extra data...

Application Info:
Entry Assembly:
Codebase: file:///C:/Program Files/MASGAU/MASGAU.exe
Full Name: MASGAU, Version=1.0.6.33515, Culture=neutral, PublicKeyToken=null
Image Runtime Version: v4.0.30319
Location: C:\Program Files\MASGAU\MASGAU.exe
Version: 1.0.6.0

Executing Assembly:
Codebase: file:///C:/Program Files/MASGAU/MVC.DLL
Full Name: MVC, Version=1.0.0.33510, Culture=neut

[2014-01-31 21:09] sanmadjack commented on #96
The code in question here resets the permissions on the xml data folder, mostly to make sure that the update system is capable of updating the XML files. Could you check what the permissions are like in your c:\ProgramData\masgau folder?

[2014-01-31 21:33] plottingCreeper commented on #95
By crash, I mean that the program stops responding, and I have to use task manager to terminate the process. Once I do that, I manually start the program, and it usually (9 times out of 10) starts ok.
It started out about once a week, but is now getting more frequent. Today, it's 4 days in a row.

I have turned off monitor on all of them, I shall inform in a day or two if it makes a difference.

[2014-01-31 21:35] sanmadjack commented on #95
Thank you very much.

[2014-02-01 00:19] OranguTech commented on #96
Ah, short answer: Permissions problem. Running single-user mode as admin works. User had no special permissions on \program data\masgau\ Adding write perms did not solve it, giving full control did.

That weird, blank, un-selectable secondary window is still there though. Haunting and taunting me. :smile:

Running Process Monitor and filtering on just file access for masgau.exe didn't help particu

[2014-02-01 06:08] sanmadjack commented on #96
Mind posting a screen of that second window?

[2014-02-02 02:01] plottingCreeper commented on #95
After 10 restarts, with all monitors disabled, there have been no crashes.
After 10 restarts, with all monitors enabled, there have been 8 crashes.

System:
![system](https://f.cloud.github.com/assets/6550725/2059419/0dd02368-8bad-11e3-955d-08e43d4e33ce.jpg)

MASGAU is using 68MB RAM when working correctly, with all monitors off.
MASGAU is using roughly 25 MB RAM when crashed.
MASGAU is using 74MB

[2014-02-03 13:04] sanmadjack commented on #95
Okay, so this is monitor related. When the monitor sets up, it updates the backup for all of the monitored games. Odds are one of the games you're monitoring is backing up too many files, so it takes way too long. It's also possible there's some conflict with the code and a particular game. Could you hit the backup all button, see if there's a particular game that takes a long time? If not, then I

[2014-02-03 17:26] plottingCreeper commented on #95
I hit backup all, and it was done within half a second. Going too fast for me to be able to pick out any game names.

[2014-02-04 15:36] sanmadjack commented on #95
Okay, I'll need to add more output during the monitor setup stage so that we can identify what's causing this issue.

[2014-02-04 15:38] plottingCreeper commented on #95
That does not sound like a fun task.
By the way, great work on MASGAU! Easily the best program around for backing up saves, regardless of this issue.

[2014-02-04 15:43] sanmadjack commented on #95
I'm glad you think so. I don't get a lot of feedback on whether use/like it (unless something breaks ;), so I appreciate that.

[2014-02-04 18:21] sanmadjack commented on #95
Okay, here's a test build:

https://drive.google.com/file/d/0By2Mfv6zO9SkdkxCR0VsUDFHYk0/edit?usp=sharing

There's a new checkbox on the settings tab that enables debug output. Check that, turn on your monitors, and restart the program. Let me know what it hangs on.

[2014-02-04 18:45] plottingCreeper commented on #95
You're not going to like this, but it seems to be running fine now.
10 program restarts, no issue.
Up to 3 computer restarts as of now, as that was when I first noticed the issue (though it did happen sometimes on program restart).

[2014-02-04 19:22] sanmadjack commented on #95
Well, maybe I unbroke something on accident! Let's leave this open for now, if it creeps up again let me know.

[2014-02-05 09:15] plottingCreeper commented on #95
Went to 10 restarts since, no issue.
Backed up settings.xml, disabled monitor on all games, played all games, restored settings.xml, restarted 5 times, no issue.
Returned to previous MASGAU version, it happened again, straight away. 4/5 restarts crashed.
Back to test build, no issue, 5 restarts to confirm.

Also, if I may proffer my input, I actually prefer being able to see what it's doing, as it

[2014-02-05 13:57] sanmadjack commented on #95
I'm going to be leaving that new debug feature in going forward. Will make my life easier.

And you're welcome, and thank you for caring enough to tell me that something was wrong.

I'm going to leave this open for awhile, if it crops up again post here and let me know. I'll set this to the "Prefection" milestone, so that it won't be part of the to-do list for 1.0.8. One downside of the version yo

[2014-02-05 15:03] plottingCreeper commented on #95
Ok then, thank you again!

[2014-02-06 16:26] OranguTech commented on #96
Little window in the top left:

![masgau_ghostwindow](https://f.cloud.github.com/assets/1691149/2100658/d9d80444-8f4a-11e3-8ef4-5dabe075e9ec.PNG)

Note also that it shows up as a second, blank item in the taskbar, which is the only way to select (put focus on) that window. (Not that you can do anything with it still.)
![masgau_ghosttaskbar](https://f.cloud.github.com/assets/1691149/2100711/69b36cf

[2014-02-06 16:40] OranguTech commented on #96
Just tested w/ the 1.0.8 debug build you posted for PlottingCreeper, but no difference. (And debug startup stuff goes by too fast - probably should dump it to stdout, er, a log of some sort. :)

[2014-02-06 22:12] plottingCreeper commented on #95
Ok, it's happened again now.
Fallout 3 is the one being displayed.
It's also come with some serious graphical bugs, but that may be because I was playing with remote desktop.
Interesting point, my Desura client crashed at the same time.

[2014-02-06 22:14] plottingCreeper commented on #95
I actually managed to get a screenshot of this crash.

![masgau](https://f.cloud.github.com/assets/6550725/2104509/ecf0e01a-8f7b-11e3-9813-99ec1b641231.jpg)

[2014-02-06 22:45] OranguTech opened #97 "Definition issue or program bug - Doomsday only backs up Save Slot 0"
I haven't quite narrowed down if problem is machine specific or not (sure it occurs on at least two of them), but .gb7 files are only saving \runtime\savegame\doom1-ultimate\DoomSav0.dsg, when it should be *.dsg.

I can do a custom backup, and it will preview all the files as being selected:
![allselected](https://f.cloud.github.com/assets/1691149/2104787/3ccdfcea-8f80-11e3-9b00-f76e91b1d56a.PNG)

[2014-02-07 02:09] sanmadjack commented on #95
That's very interesting. Could you run a memory test on your computer?

[2014-02-07 02:10] sanmadjack commented on #97
How's that for weird. And that's the only doom archive in the backup folder?

[2014-02-07 02:12] sanmadjack commented on #95
Like memtest86.

[2014-02-07 07:51] plottingCreeper commented on #95
I will run memtest86+ on my computer overnight, to catch any possible faults.
My RAM is new as of 3 months ago, so I do not expect anything to come of it, but it can't hurt to check.

[2014-02-07 14:23] OranguTech commented on #97
No, multiple archives.
On Feb 6, 2014 6:10 PM, "Matthew Barbour" notifications@github.com wrote:

[2014-02-07 16:26] OranguTech commented on #96
So - do you want me to close this one and re-open the window bug?

[2014-02-07 16:30] OranguTech commented on #97
Addendum - on the comp w/ the ghost window, I uninstalled, deleted %appdata%/local/masgau, re-installed the 1.0.8 version w/ the debug capability and reset prefs. Problem still occurs, in fact I now see that "Backup currently selected game" does nothing w/ Doomsday at all - no new archive file is created. I just tested with another detected game, (settings only, no saves) and it created an archive

[2014-02-07 17:45] sanmadjack commented on #96
Yeah, that's a good idea.

[2014-02-07 17:45] sanmadjack commented on #95
Yeah, and I'd like to rule it out before continuing.

[2014-02-07 20:22] sanmadjack commented on #97
did you delete programdata\masgau\ ? That's where the XML files are primarily stored.

[2014-02-07 20:23] sanmadjack commented on #97
If there are multiple archives, what are in the other ones?

[2014-02-07 22:22] sanmadjack commented on #97
Any chance you could give me a zip of the folder? then I can test it on my system.

[2014-02-07 23:56] OranguTech commented on #97
did not know about xml location.

dont understand 2nd question re:multiple archives.

Which folder?

[2014-02-07 23:57] OranguTech commented on #96
Closing due to permissions work-around. (Though ideally error handling would be better.)

[2014-02-07 23:57] #96 closed, assigned to sanmadjack

[2014-02-08 00:05] OranguTech commented on #97
Deleted XML files   and updated, behavior unchanged. (tried running as admin and all-users mode)

[2014-02-08 02:27] plottingCreeper commented on #95
Fair enough.
Ran Memtest86+ for 16 hours, completing 16 passes, and 44% of another.
No errors.

[2014-02-08 13:56] sanmadjack commented on #95
Okay then. I'm willing to chock the visual glitch up to the remote access software. MASGAU makes use of WPF, which is rendered via your video card, so stuff like that isn't unlikely. The crash is concerning though. Can you generate a report on the fallout 3 save folder for me?

[2014-02-08 13:58] sanmadjack commented on #97
Earlier I asked: How's that for weird. And that's the only doom archive in the backup folder?
Your reply: No, multiple archives.

If there is more than one doom archive, then it might be that (for some reason) MASGAU is breaking it up into multiple archives.

And I would like a zip of the save folder Documents\Doomsday Frontend. Sorry for not being clear on that.

[2014-02-08 14:00] sanmadjack commented on #96
I agree, error handling would be better. If you check further up this thread, about 8 days ago, I committed a code change to allow better error handling for this.

[2014-02-08 15:24] beppe9000 opened #98 "Proper backup restore in case of a fresh OS install"
I've noticed that the game detection fails if there are no saved games on the system, thus preventing a proper restore in case of a fresh install of the OS.

So I propose to scan the backup folder and reverse lookup the save location.

If the location is known-able (eg. %Appdata% or %userprofile%/Documents  directory are, while the game installation directory is not (without more complez algorithm

[2014-02-08 16:57] OranguTech commented on #98
I've run into that as well, you may not realize you can double click the
archive file and it will open in MASGAU and offer to restore it.
On Feb 8, 2014 7:24 AM, "beppe9000" notifications@github.com wrote:

[2014-02-08 18:45] beppe9000 commented on #98
I am running in portable mode, with no file type association. ;)
Maybe drag&drop ... However if this gets implemented would be a great addition to the feature set.

[2014-02-08 19:24] AdmiringWorm commented on #98
Actually drag&drop is already supported, but it won't work if you are running MASGAU as an administrator.
You can also use the restore other... button and select all the archives you want to restore.
The only times I've noticed these won't work is if the save location is dependent on a file or folder inside the save game folders.

[2014-02-08 20:30] OranguTech commented on #97
Files available - share w/ google drive the best option?

Well the weirdness gets, er, weirder. On home machine, regular 1.0.6, no other weirdness, I double-clicked the latest archive in my sync folder (other save files manually added via 7-zip), and restored via masgau. So then I selected DoomsDay and "Backup Selected Game", and it dutifully backed up to a new archive, c.190k file, everything as

[2014-02-09 00:46] plottingCreeper commented on #95
It hasn't happened again so far, it may have been a one-off. My Desura client crashed at the same time, possibly indicating something to do with general system instability.

I would generate a report, but I'm not exactly sure how >.>

[2014-02-09 23:24] sanmadjack commented on #95
If you add the folder as a custom game, it will ask if you want to generate a report.

[2014-02-09 23:31] sanmadjack commented on #98
To be clear, the drag and drop thing is not something I an resolve. Because running as an admin user technically means that you're running as a different user, Windows security will prevent the whole drag and drop thing.

[2014-02-09 23:37] sanmadjack commented on #97
Yeah, google drive. share it with masgau@masgau.org

[2014-02-10 01:46] plottingCreeper commented on #95
I hope this link will work
https://docs.google.com/file/d/0B9fcucYqiRjgMFg2eG83N09EN3c

[2014-02-10 03:40] OranguTech commented on #97
Done. More info in the invite. Would you like me to send copies of the Doomsday runtime from all three computers or is my main one sufficient? (And would it make sense to just manually sync all three and then see if the problem persists?)

[2014-02-10 13:55] sanmadjack commented on #97
Any computer where the saves weren't being picked up. It's so I can restore it to my computer and see what happens.

[2014-02-10 13:56] sanmadjack commented on #95
Thanks. Doesn't look like there are any files that should cause a hang-up. It's sounding like the hang this time had some extraneous circumstances, so I'm inclined to say let's wait for it to happen again, then gather more info.

[2014-02-10 17:16] plottingCreeper commented on #95
Next time it happens, if it happens again, anything in particular you would like me to do?

[2014-02-10 17:33] sanmadjack commented on #95
Screenshots, anything and anything. Also, how long have you tried waiting before declaring it as hung?

[2014-02-11 00:45] beppe9000 opened #100 "Advanced Monitoring (for Quicksaves)"
Many games just overwrite the quick save slot with the next one. also for many games the quick save is byte-identical to a normal save. thus i propose to have a feature that, when implemented will allow to:

-select a file to monitor for changes (from user or database) and allow the user (or database) to specify some rules to actually copy the file as if it were a new save and (if is the case) upd

[2014-02-11 00:46] plottingCreeper commented on #95
Minimum half an hour. Once I left it all day, probably 11 hours.

[2014-02-11 16:36] sanmadjack opened #101 "enhanced flashshared logic"
Flash games can store local data, but as in this machinarium it stores it in a folder path that mirrors the install path of the game. This can lead to a need for countless variations. Need to find a way to make this more automated somehow, possibly auto-generating the path based on an install folder.

[2014-02-11 21:07] beppe9000 commented on #98
Microsoft recomends splitting the user interface and things that need elevation in different exes. i think this is madness. i'm currently having one account: Administrator, so is not really a problem for me (i am using D&D. I play it too... lol)

[2014-02-11 22:00] sanmadjack commented on #98
Believe it or not, MASGAU can do that. If you attempt a restore from single-user mode, and it detects a permission issue getting in the way, it will offer to start the a second all-users-mode copy of the EXE that will only perform the restore. So, you could drag-and-drop into the single user window, and should be able to go from there. It's not optimal, but security rarely leaves us with an optima

[2014-02-13 13:01] sanmadjack commented on #98
I got to thinking about this. What if I added an entry to the games list called "undetected games" that would show archives in the backup file for undetected games? Or add a check box that would cause undetected games that have archives to show up in the list. Thoughts?

[2014-02-13 17:08] beppe9000 commented on #98
I think that the main list should always show Detected Games + Undetected Games with Saves in Backup Folder all in the same list (Maybe with different color codes) like if those were detected.
This way it shoul use the pre-existing user interface comcept.

[2014-02-14 19:10] sanmadjack commented on #98
My concern is that, all the way back to version 0.1, MASGAU's behavior has always been to only show detected games. I'm hesitant to change a default like that. I am liking the idea of adding a check box that allows non-detected games to be shown, and it can even save the setting so that, if you want it, it will always show those undetected games. But I don't think it's a good idea to make it the d

[2014-02-14 22:17] sanmadjack commented on #98
While working on this I noticed a bug with the restore code when the game is undetected, and the original location stored in the archive doesn't exist anymore. Going to create a new issue for it.

[2014-02-14 22:20] sanmadjack opened #102 "Restores don't work when game undetected and original location doesn't exist"
ARestoreProgramHandler parses the original archive location using interpretPath, but if the path doesn't exist it comes back as unparseable. This path needs to be parseable so that the user can restore to the original path, and so the user can have the opportunity to choose another path altogether, as the restore will error out at that point.

ARestoreProgramHandler Line 296, issue is with both th

[2014-02-14 22:22] sanmadjack commented on #100
While what you're describing isn't implemented as of yet, couldn't MASGAU's versioning feature provide the extra quicksave backups you seek?

[2014-02-17 15:56] sanmadjack commented on #68
@AdmiringWorm , since you seem to be taking this on, I'm assigning the issue to you.

[2014-02-17 15:58] sanmadjack commented on #68
Though it should be noted, if you're running Windows 8, this behavior could be considered normal!

[2014-02-17 16:06] AdmiringWorm commented on #68
Ah, I didn't know that, I guess I'll need to do a check if the user runs windows 8 (or above) or not then.
I do find it odd that it is normal in windows 8 though, as long as it isn't a Metro/Store app.

[2014-02-17 17:41] AdmiringWorm commented on #68
I opted out of doing the check for Windows 8, I was thinking about it but got to thinking
that if the user (like me) have the taskbar at the top they would have problems with closing, minimizing it and etc. As well as backup their game saves and restoring the saves.
I'm still doing some testing with the latest commit and have not encountered any problems, except if the user closes MASGAU when it i

[2014-02-18 13:30] sanmadjack commented on #68
I think it's better to have the taskbar showing, so ignore windows 8 behavior. Thanks for working on this.

[2014-02-18 14:19] AdmiringWorm commented on #68
Okay, btw did you get the e-mail I sent you yesterday?
It's regarding another issue I came over while working on this.

[2014-02-18 14:55] sanmadjack commented on #68
I don't think I did. Which address did you send it to? Is it something you can just make an issue for?

[2014-02-18 18:45] AdmiringWorm commented on #68
I sent it too sanmadjack@masgau.org, I haven't made an issue for it since I have no idea what to file it under.

[2014-02-18 19:15] sanmadjack commented on #68
Figures, the one address I didn't check. I'll respond momentarily.

[2014-02-18 20:07] sanmadjack commented on #97
I haven't been able to reproduce this so far. Does this still happen if there are no archives for the game in the backup folder? I'm wondering if it has something to do with the system that ignores files that are older than the archive they are going into.

[2014-02-18 20:33] sanmadjack commented on #98
Hey, @beppe9000 , I created a build that addresses some restore issues if nothing is detected. Would you mind giving it a shot?

https://drive.google.com/file/d/0By2Mfv6zO9SkMmlLMy14d0FxMWM/edit?usp=sharing

[2014-02-18 20:45] sanmadjack commented on #86
This was fixed in ee3753395cb82b968bd15341e875917c3732f6c5

[2014-02-18 20:45] #86 closed, assigned to sanmadjack

[2014-02-19 00:09] beppe9000 commented on #100
can you elaborate on this?

[2014-02-19 13:39] sanmadjack commented on #100
On the settings tab there are versioning settings. This causes MASGAU to switch to a new archive every so often (you define the time period). So if you set it to 10 minutes, then you will end up with archives representing your saves as of every 10 minutes.

[2014-02-19 14:07] sanmadjack commented on #68
The fix works great! Awesome!

[2014-02-19 14:07] #68 closed, assigned to AdmiringWorm

[2014-02-19 14:07] #102 closed, assigned to sanmadjack

[2014-02-19 15:00] sanmadjack commented on #94
This is a backwards compatibility issue. The archive in question is from an old version of MASGAU, from before there was a major re-structuring of how MASGAU organizes games internally. I'm updating the restore code to compensate.

[2014-02-19 15:29] #94 closed, assigned to sanmadjack

[2014-02-19 16:56] sanmadjack commented on #98
I'm going to close this issue. If you encounter any problems with the new build, please create a new issue.

[2014-02-19 16:56] #98 closed, assigned to sanmadjack

[2014-02-19 18:34] beppe9000 commented on #98
ok i posted a post that didn't make to here. It worked like a charm!

[2014-02-19 18:35] beppe9000 commented on #100
is this incremental?

[2014-02-19 18:46] sanmadjack commented on #98
Awesome! Glad it worked!

[2014-02-19 18:49] sanmadjack commented on #100
My instinct is to say yes, but this is a hard feature to describe. Basically, you set it to 10 minutes, then every 10 minutes it will make a copy of the archive, preserving the saves as they were at that moment.

[2014-02-20 14:13] beppe9000 commented on #100
so if i  set it to 20 minutes and play 60 i would get 3 archives like this:
save 1,2,3,4,5
save 1,2,3,4,5,6,7,8,9
save 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15

right? if it is so then it is not incremental.

incremental would be ending up with a single archive(updated every 20 minutes with new files):

save 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15

[2014-02-20 17:02] sanmadjack commented on #100
Depends, are save 1,2,3,4 each saved in separate files/slots, or do they represent the same quicksave?

[2014-02-20 21:07] beppe9000 commented on #100
read: BackupArchive( save 1+2+3+4+5 ) etc

[2014-02-20 21:09] beppe9000 commented on #100
however i think that a "quick-save" feature to separate normal saves from quick saves in backups would be great.

[2014-02-20 22:22] sanmadjack commented on #100
I mean are they saved in separate files outside of MASGAU's archive. It's important to remember that MASGAU only deals with saves at the file level. If given these files:

save1.sav
save2.sav
save3.sav

And each is written ten minutes apart then the resulting 3 archives will contain:

Archive 1: save1.sav
Archive 2: save1.sav, save2.sav
Archive 3: save1.sav, save2.sav, save3.sav

If all the saves

[2014-02-21 17:25] beppe9000 commented on #100
Yes, it is low priority. However I am starting to learn programming so maybe some time in the future i could be engaged in this. ;)

[2014-02-22 18:47] sanmadjack commented on #62
Get ready for it!

[2014-02-22 20:47] sanmadjack commented on #62
Give this a shot when you get the chance:

https://drive.google.com/file/d/0By2Mfv6zO9SkQkhVcHNDQm1EMGs/edit?usp=sharing

[2014-02-22 20:51] sanmadjack opened #104 "Cancelling analyzer doesn't interrupt folder dump"
When scanning an exceptionally large folder, the analyzer's folder dump can take a very long time. This isn't avoidable, but hitting the cancel button doesn't take effect until the dump completes, leaving the user stuck. Need to resolve this.

[2014-02-22 21:05] AdmiringWorm commented on #62
That works great, actually better than I had in my mind when this issue was created.
I did notice something off though (only cosmetical).
The Submit Other button is somehow center aligned and looks just plain odd.
As can be seen below in the screenshot.
It's probably because it is a RibbonMenuButton instead of a RibbonMenuItem like the rest.

![image](https://f.cloud.github.com/assets/1474648/2238

[2014-02-22 21:11] sanmadjack commented on #62
Yeah, that's why it's off. There might be some way to get it to align, I just don't have the time immediately. Would you mind creating an issue for it so I don't forget?

[2014-02-22 21:11] #62 closed, assigned to sanmadjack

[2014-02-22 21:13] AdmiringWorm opened #105 "Submit Other button is centered"
The new button 'Submit Other' is being centered while
the other submit buttons are left-aligned.

![image](https://f.cloud.github.com/assets/1474648/2238868/2925ff70-9c06-11e3-951d-b0eb7262283e.png)

[2014-02-22 21:33] AdmiringWorm commented on #62
Okay, so I started to translate the new strings you created for these buttons,
and had a question. Do you plan to give the number of games selected as a parameter to the string 'SubmitSelectedGames'.
Just wondering since based of how many are selected (1, or more) the translation could be different (this is true for english as well of course).

[2014-02-22 21:38] sanmadjack commented on #62
Yeah, it'll be the first parameter. I haven't set that part up yet for English.

[2014-02-22 21:47] AdmiringWorm commented on #62
ok, I'll just translate it to a catch-all phrase until you do then.

[2014-02-22 22:14] sanmadjack commented on #62
k, cool

[2014-02-22 23:19] sanmadjack commented on #105
Turns out it was real easy, I could actually just use a RibbonMenuItem. Change checking in now.

[2014-02-22 23:19] #105 closed, assigned to sanmadjack

[2014-02-22 23:23] sanmadjack commented on #62
I decided to just go with "Selected Game(s)", I think the whole dynamic phrase thing is overkill for this particular item.

[2014-02-26 02:00] plottingCreeper opened #106 "Supreme Commander 2"
There seems to be a problem with detecting the saves for Supreme Commander 2, here is the exception information;

The folder Supreme Commander 2  could not be found in C:\Users\plottingCreeper\AppData\Local\Gas Powered Games

   at MASGAU.Location.Holders.DetectedLocationPathHolder..ctor(EnvironmentVariable ev, String absolute_root, String path, String owner) in E:\GIT\MASGAU\MASGAU.Common\Locatio

[2014-02-26 13:51] sanmadjack commented on #106
Fascinating, I'll look into this

[2014-02-26 14:26] sanmadjack commented on #106
I found the issue. The game's data definitions have a space at the end of the path:

[code]

Windows ignores this space when MASGAU does its quick "hey Windows, does this exist?" check, but when it does its own manual check, it's not there. MASGAU throws this exception because, theoretically, there should never be different answers to those two questions. Correcting the data should be easy enough,

[2014-02-26 14:31] sanmadjack commented on #106
As a note, since you can't even start up MASGAU at this point, you won't be able to update your data via the auto-update. You'll either need to manually edit your s.xml file, or wait until I have a new build ready that will fix this for you. Let me know what you'd like to do.

[2014-02-26 14:44] plottingCreeper commented on #106
I renamed the folder, and wrote a preloader script for SC2 to change the name back before it starts, and rename it again once it closes. I have a sort of fix for it, but I am looking forwards to a build where this isn't needed.

[2014-02-26 19:56] sanmadjack commented on #106
Well, fix no more. I updated the game data to not have the spaces, so if you can start MASGAU you can hit the update button and download the latest data. I've already tested and confirmed that Supreme Commander 2 will detect properly with it. An updated build that will cope with this kind of discrepancy is coming, but I need to work out some kinks first.

[2014-02-26 22:52] sanmadjack commented on #106
Or you can try this new, barely-tested build!

https://drive.google.com/file/d/0By2Mfv6zO9SkQmVLWnJGTU90amc/edit?usp=sharing

[2014-02-27 03:52] plottingCreeper commented on #106
New and barely tested? Count me in!

[2014-02-27 03:53] plottingCreeper commented on #106
Installed and run, works perfectly so far.

[2014-02-27 14:15] sanmadjack commented on #106
Awesome! Care to poke around it, see if you can ferret out any bugs? Maybe just click every button and see what happens? I'm going to close this issue now, if you run into anything else just make another one :D

[2014-02-27 14:15] #106 closed, assigned to sanmadjack

[2014-02-28 02:41] plottingCreeper commented on #106
Clicked every button, working fine.
Did the same on my friends computer, using the same build, working fine.

[2014-02-28 19:32] sanmadjack commented on #106
That's awesome, thanks!

[2014-03-25 14:22] duffyknight opened #107 "Possible VDF Issue"
I am getting this error message on start up for my pc pretty regularly.
WHT THE HELL

   at VDF.NestedElement..ctor(Queue`1 read) in E:\GIT\MASGAU\Libs\VDF\NestedElement.cs:line 31
   at VDF.NestedElement..ctor(Queue`1 read) in E:\GIT\MASGAU\Libs\VDF\NestedElement.cs:line 42
   at VDF.NestedElement..ctor(Queue`1 read) in E:\GIT\MASGAU\Libs\VDF\NestedElement.cs:line 42
   at VDF.NestedElement..ctor

[2014-03-30 15:57] sanmadjack commented on #107
This only happens when Steam is not logged in. If you log into steam, or save your credentials on startup, this error doesn't happen.

[2014-06-13 15:52] sanmadjack commented on #55
This is now possible. It will be implemented soon.

[2014-06-25 08:03] plottingCreeper opened #108 "Scheduled backups"
This is a feature request.

I would rather like there to be a feature to schedule a backup of all/selected games.
Perhaps a way to backup with a command line switch, and integration with windows task scheduler?

Example; set backup at 7AM daily of all game saves.

From my limited programming experience, I believe that WTS would be one of the easiest ways to implement this, and gives the added bonu

[2014-06-28 15:03] sanmadjack commented on #108
This actually used to be a feature in MASGAU, but it was discarded by the 1.0 feature trimming in favor of making the monitor more full-featured. It actually used WTS and everything. The code's still out there somewhere, I'll think about bringing it back if I have the time.

[2015-06-23 21:43] jarod186 opened #109 "Identityreferences could not be translated"
After installing Masgau and then trying to start it up it gives an error message:

"Some or all Identityreferences could not be translated"
I get this erro both when starting single user and all user mode

See below screenshot

![image](https://cloud.githubusercontent.com/assets/13024088/8317988/8f63ac9a-1a01-11e5-90c7-a24cda003cef.png)

[2015-06-24 06:52] AdmiringWorm commented on #109
This program seem to have ceased development, however this issue is the same as an issue which was resolved in the latest development build: which may be downloaded here:

https://www.dropbox.com/s/01r3z7qdsugfo2o/MASGAU-1.0.8-Dev-Setup.exe?dl=0

Try it out and see if the issue is fixed for you.

[2015-06-25 17:47] jarod186 commented on #109
Hello, tried the 1.0.8 development build that was suggested, problem solved!! Thank you!! :)

[2015-06-25 17:47] #109 closed

[2015-06-26 13:48] sanmadjack commented on #109
It's true, I haven't had time to work on this for awhile now. Thanks for stepping up, @AdmiringWorm !

[2015-06-26 17:57] AdmiringWorm commented on #107
@sanmadjack. I know this is an old issue, but do you remember if you had fixed this in the v1.0.8 branch?

[2015-06-27 00:53] #67 closed

[2015-07-07 13:40] sanmadjack commented on #107
I never got around to it, no.

[2015-07-07 17:04] AdmiringWorm commented on #107
damn, I was hoping you did. I was trying to reproduce it and wasn't able to. I'll see if I can't get some time to work on it in the near future.

[2015-07-11 01:18] AdmiringWorm commented on #107
@sanmadjack so I was able to find and fix this issue, I've put up a P.R. for the VDF library:
https://github.com/sanmadjack/VDF/pull/1

[2015-07-24 18:37] AdmiringWorm opened #111 "64 bit 7zip appends .tmp"
The included 7zip 64bit appends an extra .tmp extension if the extension is already a .tmp file.

I suggest updating it to the 9.38 beta version, since the 9.20 version also got this problem.

[2016-01-09 01:21] drdaeman opened #112 "Crash on startup on non-English systems when trying to make directory world-writeable."
It seems that MASGAU crashes on start when ran on non-English systems. At least it did for me.

The problem comes from `new FileSystemAccessRule("everyone", ...)` [line 96 in `MASGAU.Common\Game\GameXmlFiles.cs`](https://github.com/MASGAU/MASGAU/blob/f6341fe/MASGAU.Common/Game/GameXmlFiles.cs#L96), because on non-English OSes name "Everyone" may be not recognized, as those use localized one.

The

[2016-01-09 01:28] drdaeman commented on #112
Just noticed two more places that also have this problem: [`AMainProgramHandler.cs`, line 76](https://github.com/MASGAU/MASGAU/blob/24c4894efeca2087976dc8c321580a0ce90e65b3/MASGAU.Common/AMainProgramHandler.cs#L76) and [`Archive.cs`, line 352](https://github.com/MASGAU/MASGAU/blob/24c4894efeca2087976dc8c321580a0ce90e65b3/MASGAU.Common/Archive/Archive.cs#L352).

[2016-03-04 10:01] dunestorm333 opened #113 "Crash on startup (WHT THE HELL error)"
I get a crash as soon as I launch the software as admin. Judging from the debug info, it seems it thinks my username is Matthew, it isn't.

UPDATE: The "unstable" test version doesn't have this issue and launches normally...

[2016-03-04 10:06] dunestorm333 commented on #93
It does seem to be poorly optimized, Game Save Manager uses much less but is much inferior software in my opinion. GSM takes far to long to build and update databases, up to 5m!

[2016-08-18 18:27] Nariod14 opened #114 "I CANT START IT UP PLEASE HALP MEH"
![toolwiz20168-18-18-21-13](https://cloud.githubusercontent.com/assets/21109756/17785700/c1d05fba-6579-11e6-8999-1815a7053175.png)
Every single time i open Masgau it will give me the error and i can't fix it! I've tried reinstalling it and restarting my PC to no avail, halp me, anyone, please!

[2016-08-26 22:59] sanmadjack commented on #114
Can you provide the content of the log file specified int he error message?

[2016-08-27 12:10] Nariod14 commented on #114
Okay guess I should've done that too, I cannot upload a .log file so here is a picture of the file when I open it...
![log](https://cloud.githubusercontent.com/assets/21109756/18027377/ddf637f0-6c59-11e6-9187-f590f61075f5.png)
I had to wrap the text to fit it into the window though really hope it helps!

[2016-08-27 12:30] Nariod14 commented on #114
Okay, guess I should've done that too in the first message. I cannot upload a .log file here so here is a picture of the log:
![log](https://cloud.githubusercontent.com/assets/21109756/18027394/48d29686-6c5a-11e6-87ea-8c5770480ba7.png)
Really hope it helps, I really love this program...

[2016-08-31 20:11] sanmadjack commented on #114
The error says that it can't access the settings.xml file in the install folder. You'll need to adjust the permission there for it to launch.

[2016-09-04 16:38] Nariod14 commented on #114
okay so I enabled the permissions on the settings.xml file and it worked for a bit, but then I got another error, couldn't get a screenshot of it before i fixed it, it said something like "tried to perform unauthorized action" so looking at where the loading stopped (it was at loading game XMLs or something like that) I went back to the program file and edited the permissions of xmldata.dll and it

[2016-09-06 14:44] sanmadjack commented on #114
What version of Windows are you on?

[2017-06-06 19:54] Nariod14 opened #115 "...Is the project dead?"
I haven't been able to use my c for a while due to hard drive problems, and now that I've just got it fixed (somewhat) I don't trust my gamesaves not to corrupt. I've used this amazing program since last I had my PC working but I've noticed the site is down and my previous issue is the latest one (still from last year) so if I may, is the project dead? I can only find other versions on CNet and ot

[2017-06-06 23:42] AndrewSav commented on #115
@Nariod14  There has not been a push for 4 years, what do you think? Somebody started [masgau2](https://github.com/MASGAU/2.0) but it was never completed either.

[2017-06-07 18:59] AdmiringWorm commented on #115
as @AndrewSav says, I believe this project is pretty much dead.

Not just somebody, it was the author of this software that started that one.

EDIT:
Although it says member on me here, I'm was pretty much a contributor and nothing else.

[2017-06-07 20:57] sanmadjack commented on #115
I am the original author.

I live, but yes I don't work on this anymore. I've been keeping the site up because, as you say, the program does still work, even if it does have a few issues still. I plan on revisiting it to fix some bugs someday, but I have projects I am working on now that are much more urgent to me. If someone felt motivated to take over development of the app I would be more than

[2017-06-07 21:32] Nariod14 commented on #115
@sanmadjack alright it's nice to have confirmation on that. I can't really complain as the current product is still extremely useful and functional. Thanks for bringing the site back up though I'll get the latest version from there.  I would love to be a part of this but I've barely any experience with any type of code aside from Javascript (sad I know). Best of luck to your current and future end

[2017-06-07 21:33] sanmadjack commented on #115
@Nariod14 Same to you. And thanks for the kind words.

[2018-04-07 11:24] sigmap commented on #115
Site is dead again?

[2018-04-07 11:25] sigmap commented on #113
Can confirm this error exists. There's no download for the test version so I cannot test that. Wish there was a solution to this or at least a build that wasn't so broken.

[2018-04-07 14:12] sanmadjack commented on #115
The VM is having issues, I'm working on it now.

[2018-04-07 17:45] sanmadjack commented on #115
The root drive's uuid changed for some reason. Corrected it, site is back up.

[2018-04-07 21:41] AndrewSav commented on #113
Don't worry about the Matthew thing, it's just debug info, it should not prevent you from running. Whatever problem you have, this is not because of the username ;)

[2019-08-04 17:40] d0x360 commented on #115
I've moved on to game save manager 3 which works much better and the guy is working on gsm4 right now which so far is absurdly fast even with thousands of saves

[2019-08-04 21:54] AndrewSav commented on #115
I don't think that  game save manager is open source.

[2019-08-04 22:14] d0x360 commented on #115
I'm working on that actually and I believe I'm very close to getting Matt
the developer to open source it.  Right now he's very busy trying to finish
v4 and once that's essentially at a beta level it should go up here.

On Sun, Aug 4, 2019, 5:54 PM Andrew Savinykh <notifications@github.com>
wrote:

[2019-11-14 22:56] #113 closed

[2020-08-17 00:09] AndrewSav commented on #115
@d0x360, how is this version 4 coming together?

[2020-08-17 00:14] d0x360 commented on #115
Slow but amazing.  The app is insanely fast.  For example in v3 because Ive played so many games it would take me like 45 min from hitting backup and then waiting for it to be done.

In v4 it's more like 15 min and if I turned off max compression it would probably be half that.

There are test builds on the discord channel if you wanna check it out.

[2020-08-17 01:00] AndrewSav commented on #115
@d0x360 thank you I'll check with you in another year ;)